<div class="container">
    <div class="row">
        <div class="col-6">
            <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
        </div>
        <div class="col-6">
            <p>Media is a superstar of the sports broadcasting world. The company is the leading cable sports broadcaster, reaching about 100 million US viewers per month with its stable of channels, including Media, Media2, and Media Classic. The 24-hour networks carry a variety of live sporting events, as well as programs devoted to news and analysis. Media also creates original programming for TV and radio, and lends content for Media.com, one of the most popular sports sites on the Internet.</p>
        </div>
    </div>
</div>


